<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}  
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bulma.css' %}"
    />
    <script src="https://kit.fontawesome.com/b7355b1d7d.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
  </head>

  <body class="has-background-grey-dark">
    <section class="section" style="padding: 1.5rem 1.5rem;">
      <div class="container">
        {% block content %} {% endblock %}       
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
        <a href="https://github.com/DanielChrome">About</a> · Daniel Chrome &copy; 2018
      </p>
      </div>
    </footer>
  </body>
</html>
