<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'core/style.css' %}"
    />
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="container">
      {% block content %} {% endblock %}
      <hr />
    </div>
    <footer>
      <p>
        <a href="https://github.com/DanielChrome">About</a> · Daniel Chrome
        &copy; 2018
      </p>
    </footer>
  </body>
</html>
