.login-header {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.social-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.btn-social {
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.btn-social:hover {
  opacity: 0.5;
}

.btn-facebook {
  background-color: #3b5998;
}
.btn-google {
  background-color: #ea4335;
}
