<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Amigos
        </p>
    </header>
    <table class="table is-fullwidth">
        <tbody>
            <tr>
                <td class="has-text-centered">
                    <div>
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        <p class="subtitle is-7">Amigo 1</p>
                    </div>
                </td>
                <td class="has-text-centered"><div>
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        <p class="subtitle is-7">Amigo 2</p>
                    </div></td>
                <td class="has-text-centered"><div>
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        <p class="subtitle is-7">Amigo 3</p>
                    </div></td>
                <td class="has-text-centered"><div>
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>
                        <p class="subtitle is-7">Amigo 4</p>
                    </div></td>
            </tr>
        </tbody>
    </table>

</div>