{% load static %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Seguindo
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
            <span class="tag is-primary is-medium">{{ followings|length }}</span>
            <span class="tag is-medium">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </a>
    </header>
    <div class="card-content">
        {% if followings %}
        <div class="columns">
            {% for follow in followings %}
            <div class="column is-3">
                <a href="{% url 'profile' user_name=follow.connection.username %}">
                    <figure class="image is-64x64 image-hor-centered">
                        {% if follow.user.photo %}
                        <img class="clip-circle" src="/media/{{ follow.connection.photo }}" alt="{{ follow.connection.username }}">
                        {% else %}
                        <img class="clip-circle" src="{% static 'images/profile_default.png' %}" alt="{{ follow.connection.username }}">
                        {% endif %}
                    </figure>
                    <p class="subtitle is-7 has-text-centered">{{ follow.connection.first_name }}
                        {{ follow.connection.last_name }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Você ainda não está seguindo ninguem!</p>
        {% endif %}
    </div>
</div>