{% extends "core/layout.html" %}
{% load static %}
{% block title %}Principal{% endblock %}
{% block script %}
    {{ block.super }}
    <script src=" {% static 'script/profile.js' %}"></script>
   
{% endblock %}
{% block content %}
  <div class="container">
    <div class="columns">
      {% include "profile_left.html" %}
      <div class="column is-10">
        <div class="box">
          <h4 id="username" class="title is-3">{{ user_profile.first_name }} {{ user_profile.last_name}} (@{{user_profile.username}})</h4> 
          <p>{{ user_profile.bio }}</p>
          <div class='profile-options is-fullwidth'>
            <div class='tabs is-fullwidth is-medium'>
              <ul>
                <li class='tab is-active' onclick="openTab(event,'About')">
                  <a>
                    <span class='icon'>
                      <i class='fas fa-list'></i>
                    </span>
                    <span>Sobre</span>
                  </a>
                </li>
                <li class='tab' onclick="openTab(event,'Midia')">
                  <a>
                    <span class='icon'>
                      <i class='fas fa-photo-video'></i>
                    </span>
                    <span>Fotos</span>
                  </a>
                </li>
                <li class='tab' onclick="openTab(event,'Connections')">
                  <a>
                    <span class='icon'>
                      <i class='fas fa-users'></i>
                    </span>
                    <span>Conexões</span>
                  </a>
                </li>
                <li class='link'>
                  <a>
                    <span class='icon'>
                      <i class='fas fa-info-circle'></i>
                    </span>
                    <span>Outros</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="container">
              {% include "profile_about.html" %} 
              {% include "profile_midia.html" %} 
              {% include "profile_connections.html" %} 
            </div>
          </div>
        </div>
        
      </div>
    </div>      
  </div>
{% endblock %}