{% load static %}
  <div id="Followers" class="content-tab"  style="display:none">
    {% if followers %}
        <div class="columns">
            {% for follower in followers %}             
                <div class="column is-3">
                    <a href="{% url 'profile' user_name=follower.user.username %}">
                        <figure class="image is-64x64 image-hor-centered">
                            {% if user.photo %}
                            <img class="clip-circle" src="/media/{{ follower.user.photo }}" alt="{{ follower.user.first_name }}"> 
                            {% else %}
                                <img class="clip-circle" src="{% static 'images/profile_default.png' %}" alt="{{ follower.user.first_name }}"> 
                            {% endif %}
                        </figure>
                        <p class="subtitle is-7 has-text-centered">{{ follower.user.first_name }} {{ follower.user.last_name }}</p>
                    </a>
                </div>                       
            {% endfor %}
        </div>         
    {% else %}
        <p>Você ainda não possui seguidores!</p>
    {% endif %}
  </div>