{% load static %}
<div class="column is-2">
  <div class="card">
    <div class="card-image">
      <div class="profile-photo">
        <figure class="image is-1by1">
          {% if user_profile.photo %}
          <img class="profile-photo" src="{{ user_profile.photo_profile.url }}" alt="Profile">
          {% else %}
          <img class="profile-photo" src="{% static 'images/profile_default.png' %}" alt="Profile">
          {% endif %}
        </figure>
        {% if user_profile.username == user.username %}
        <div id="photo_edit" class="photo-edit">
          <a href="#">
            <span class="icon has-text-dark is-large">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-camera fa-stack-1x fa-inverse"></i>
              </span>
            </span>
            <p class="is-size-7">Atualizar</p>
          </a>
        </div>   
        {% endif %}     
      </div>      
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-5">{{ user_profile.first_name }} {{ user_profile.last_name }}</p>
          <p class="subtitle is-6">@{{user_profile.username}}</p>
        </div>
      </div>
    </div>
    <ul class="menu-list">
      <li>
        <a href="{% url 'main' %}">
          <span class="icon"><i class="fas fa-home"></i></span> Principal
        </a>
      </li>
      <li>
        <a href="{% url 'profile' user_name=user_profile.username %}">
          <span class="icon"><i class="fas fa-id-card"></i></span> Perfil
        </a>
      </li>
      <li>
        <a href="{% url 'userposts' user_name=user_profile.username %}">
          <span class="icon"><i class="fas fa-comments"></i></span> Postagens
        </a>
      </li>
      <li>
        <a href="{% url 'logout' %}">
          <span class="icon"><i class="fas fa-sign-out-alt"></i></span> Sair
        </a>
      </li>
    </ul>
  </div>
</div>