{% extends "core/layout.html" %}
{% load static %}
{% block title %}Principal{% endblock %}
{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bulma-carousel.min.css' %}"/>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script src=" {% static 'script/profile.js' %}"></script>
    <script src=" {% static 'script/bulma-carousel.min.js' %}"></script>    
{% endblock %}
{% block content %}
  <div class="container">
    <div class="columns">
      {% include "profile_left.html" %}
      <div class="column is-10">
        <div class="box">
          <div class="columns">
            <div class="column is-9">
              <h4 id="username" class="title is-3">{{ user_profile.first_name }} {{ user_profile.last_name}} (@{{user_profile.username}})</h4>
            </div>
            {% if user_profile.username != user.username %}
                <div class="column is-3">
                  <div class="buttons is-right">
                    {% if is_followed %}
                      {% if is_followed.pendent %}
                        <a class="button is-warning is-small" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-user-friends"></i>
                          </span>
                          <span>Solicitação Pendente</span>
                        </a>
                      {% else %}
                        <a class="button is-danger is-small" href="{% url 'removeconnection' user_name=user_profile.username %}">
                          <span class="icon is-small">
                            <i class="fas fa-user-friends"></i>
                          </span>
                          <span>Deixar de Seguir</span>
                        </a>
                      {% endif %}
                  {% else %}
                  <a class="button is-link is-small" href="{% url 'addconnection' user_name=user_profile.username %}">
                    <span class="icon is-small">
                      <i class="fas fa-user-friends"></i>
                    </span>
                    <span>Seguir</span>
                  </a>
                  {% endif %}
                </div>             
              </div> 
            {% endif %}
          </div>
          <p>{{ user_profile.bio }}</p>
          <div class='profile-options is-fullwidth'>
            <div class='tabs is-fullwidth is-medium'>
              <ul>
                <li class='tab is-active' onclick="openTab(event,'About')">
                  <a>
                    <span class='icon'>
                      <i class='fas fa-list'></i>
                    </span>
                    <span>Sobre</span>
                  </a>
                </li>
                <li class='tab' onclick="openTab(event,'Midia')">
                  <a>
                    <span class='icon'>
                      <i class='fas fa-photo-video'></i>
                    </span>
                    <span>Fotos</span>
                  </a>
                </li>
                <li class='tab' onclick="openTab(event,'Followings')">
                  <a>
                    <span class='icon'>
                      <i class='fas fa-users'></i>
                    </span>
                    <span>Seguindo</span>
                  </a>
                </li>
                <li class='tab' onclick="openTab(event,'Followers')">
                  <a>
                    <span class='icon'>
                      <i class='fas fa-users'></i>
                    </span>
                    <span>Seguidores</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="container">
              {% include "profile_about.html" %} 
              {% include "profile_midia.html" %} 
              {% include "profile_following.html" %}
              {% include "profile_followers.html" %} 
            </div>
          </div>
        </div>
        
      </div>
    </div>      
  </div>
{% endblock %}