{% extends "core/layout.html" %}
{% load static %}
{% block title %}Principal{% endblock %}
{% block script %}
    {{ block.super }}   
{% endblock %}
{% block content %}
  <div class="container">
    <div class="columns">
      {% include "profile_left.html" %}
      <div class="column is-10">
        {% if user_profile.username == user.username %}
          <div class="box">
            <form action="/social/{{ user_profile.username }}/posts" method="post">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="field">
                <label class="label" for="{{ form.message.id_for_label }}"> Novo Post</label>
                <div class="control">
                  {{ form.message }}
                </div>        
                <p class="help is-danger">{{ form.subject.errors }}</p>
              </div>
              <div class="control">
                <input  class="button is-link" type="submit" value="Enviar">
              </div>
            </form>
          </div>
        {% endif %}
          {% if posts %}
            {% for post in posts %}
            <div style='margin-bottom: .5rem'>
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Postado em {{ post.created_at|date:"d/m/Y H:i" }}
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    {{ post.message }}
                  </div>
                </div>
                <footer class="card-footer">
                  <div class="buttons are-small">
                    <button class="button is-white">
                      <span class="icon">
                        <i class="fas fa-thumbs-up"></i>
                      </span>
                      <span>Curtir</span>
                    </button>
                    <button class="button is-white">
                      <span class="icon">
                        <i class="fas fa-comment"></i>
                      </span>
                      <span>Comentar</span>
                    </button>
                  </div>
                </footer>
              </div>  
            </div>
            {% endfor %}
          <div class="box">
            <nav class="pagination is-small" role="navigation" aria-label="pagination">
              {% if posts.has_previous %}
                <a class="pagination-previous" href="?page=1">
                  <span class="icon">
                    <i class="fas fa-angle-double-left"></i>
                  </span>
                </a>
                <a class="pagination-previous" href="?page={{ posts.previous_page_number }}">
                  <span class="icon">
                    <i class="fas fa-angle-left"></i>
                  </span>
                </a>
              {% endif %}
              {% if posts.has_next %}
                <a class="pagination-next" href="?page={{ posts.next_page_number }}">
                  <span class="icon">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
                <a class="pagination-next" href="?page={{ posts.paginator.num_pages }}">
                  <span class="icon">
                    <i class="fas fa-angle-double-right"></i>
                  </span>
                </a>
              {% endif %}
            </nav>
          </div>
          {% else %}
              <p>Não há nenhum post adicionado.</p>
          {% endif %}
      </div>
    </div>      
  </div>
{% endblock %}