html,
body {
  background-image: url("data:image/gif;base64,R0lGODlhBAAEAKECABERESQkJP///////yH5BAEKAAIALAAAAAAEAAQAAAIFhB6nhlIAOw==") !important;
  background-repeat: repeat !important;
  background-color: #181818 !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

.container {
  /*display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  */
  max-width: 1012px;
  margin: 20px auto;
  padding: 20px 20px;
  align-items: center;
  background-color: #333333;
  border: 1px solid #494949;
  border-radius: 5px;
}

footer {
  display: flex;
  max-width: 1012px;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}
